{% load static %}
{% now "U" as timestamp %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SpreadTalk</title>
        <link rel="stylesheet" href="{% static 'chat/style.css' %}" defer>
        <!-- <link rel="stylesheet" href="../../static/chat/style.css" defer> -->
    </head>
    <body>
        <nav class="nav">
            <div id="title-decorator"><p class="title">SpreadTalk</p></div>
            <div id="user">
                <p id="username-p">Logged out</p>
                <img src="{% static 'chat/user_icon.png' %}" id="user-icon">
            </div>
        </nav>
        <div id="main">
            <div id="chats">
                <div id="chats-text">Chats</div>
            </div>
            <div id="chat">
                <div id="chat-log"></div>
                <div id="chat-input">
                    <div id="avatar"></div>
                    <input id="chat-message-input" type="text" placeholder="Type a message..." autofocus>
                    <button id="chat-message-submit">Send</button>
                </div>
            </div>
        </div>
        <script src="{% static 'chat/main.js' %}?v={{ timestamp }}" defer></script>
    </body>
</html>