<div class="chat-view">
    <button class="hamburger-btn" data-role="hamburger-btn">☰</button>
    <div class="chat-log" data-role="chat-log"></div>
    <div class="chat-input-row" data-role="chat-input">
        <div class="avatar current-user-avatar" data-role="avatar"></div>
        <input class="chat-message-input" data-role="chat-message-input" type="text" maxlength="200" placeholder="Type a message..." autofocus>
        <button class="chat-message-submit" data-role="chat-message-submit">Send</button>
    </div>
</div>
