body {
    margin: 0;
    background: linear-gradient(to right, #0f2027 0%, #2c5364 50%, #2c5364 50%, #0f2027 100%);
}

.nav {
    display: flex;
    width: 100%;
    height: 4rem;
    background: #1d2a37;
    align-items: center;
    border-bottom: 1rem solid rgb(23, 33, 44);
    backdrop-filter: blur(8px);
}

#title-decorator {
    display: flex;
    width: 8rem;
    height: 2.5rem;
    background-color: black;
    border-radius: 1rem;
    margin-left: 0.5rem;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0.15rem solid white;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem cyan;
}

.title {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

#main {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#chats {
    display: flex;
    width: 23%;
    height: 38rem;
    background-color: black;
    border-radius: 3rem;
    margin-left: 1.5rem;
    flex-direction: column;
    align-items: center;
}

#chats-text {
    display: flex;
    margin-top: 0;
    color: black;
    font-size: 1.5rem;
    width: 100%;
    height: 3rem;
    background-color: white;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    border: 0.15rem solid cyan;
}

.room {
    display: flex;
    width: 90%;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 0.15rem solid cyan;
}

#chat {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chat-log {
    display: flex;
    width: 95%;
    height: 35rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(22, 22, 22);
    margin-top: 1rem;
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
}

#chat-log::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}

#chat-input {
    display: flex;
    width: 95%;
    height: 3.5rem;
    background-color: rgb(22, 22, 22);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

#avatar {
    display: flex;
    width: 2rem;
    height: 2rem;
    background-color: black;
    border: 0.15rem solid cyan;
    border-radius: 50%;
    margin-right: 0.5rem;
}

#chat-message-input {
    width: 80%;
    height: 1.75rem;
    border-radius: 1rem;
    border: 0.15rem solid cyan;
}

#chat-message-submit {
    width: 10%;
    height: 2.5rem;
    border-radius: 1rem;
    border: 0.15rem solid cyan;
    background-color: black;
    color: white;
    margin-left: 0.5rem;
}

.message {
    display: flex;
    width: 95%;
    height: 2rem;
    flex-shrink: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
    border-radius: 1rem;
    align-items: center;
    padding-left: 1rem;
    border: 0.15rem solid cyan;
}